---
layout: 'base.njk'
permalink: "/{{ title | slugify }}/"
---

<figure class="main-article__figure">
{% if ftImgSet.ftVidB %}
  <video playsinline loop="loop" autoplay="autoplay" muted poster="{{ftImgSet.ftImg}}">
    {% if ftImgSet.ftWebmSource %}
      {{ftImgSet.ftWebmSource | replace("src", "")}}
      <source src="{{ftImgSet.ftWebmSource}}" type="video/webm">
    {% endif %}
    <source src="{{ftImgSet.ftVidSource | replace("src", "")}}" type="video/mp4">
  </video>
  {% else %}
  {% set url2 = ftImgSet.ftImg | replace("src/", "") %}
  {% Image "./src/"+url2, ftImgSet.ftAlt %}
{% endif %}
</figure>

<article class="container">

<section class="pGrid">
  <div class="article-intro">
    <h1 class="article-title">
      {{ title }}
    </h1>
    {%- for paragraph in d2 -%}
    <p>
      {{ paragraph }}
    </p>
    {%- endfor -%}
    <div class="intro-details">
      <h2 id="disc">
        {{ disc }}
      </h2>
      <ul>
        {%- for collaborator in collabs2 -%}
        <li>
          {{collaborator}}
        </li>
        {%- endfor -%}
      </ul>
      {# <p>
        {{ collabs }}
      </p> #}
    </div>
  </div>
</section>

  {{ content | safe }}
  <section class="pGrid article-images">
    {%- for theImage2 in images -%}
      <div class="{{theImage2.imgRow.mSize}} {{theImage2.imgRow.layout}}">
        {%- for eachImage2 in theImage2.imgRow.imageRowContents -%}
          {% if eachImage2.videoB %}
            <div>
              <video playsinline muted loop="loop" autoplay="autoplay" poster="{{eachImage2.pSrc | replace("src", "")}}">
                {% if eachImage2.fWmSrc %}
                  <source src="{{eachImage2.wmSrc | replace("src", "")}}" type="video/webm">
                {% endif %}
                <source src="{{eachImage2.srcb | replace("src", "")}}" type="video/mp4">
              </video>
            </div>
            {% else %}
            {% Image "./"+eachImage2.srcb, eachImage2.alt  %}
          {% endif %}
        {%- endfor -%}
      </div>
    {%- endfor -%}

  {% set truePosts = [] %}
  {% for post in collections.post | reverse %}
    {% if post.data.singleImg == false %}
      {% set truePosts = truePosts.concat(post)%}
    {% endif%}
  {% endfor %}

  {% set count = 0 %}
  {% set key = 0 %}
  {% for post in truePosts %}
    {% if title == post.data.title %}
      {% set key = count %}
    {% else %}
      {% set count = count + 1%}
    {% endif %}
  {% endfor %}

  {% set truePostsLength = truePosts | length %}
  {% set truePostsLast = truePostsLength - 1 %}
  {% set next = key + 1 %}
  {% if truePostsLast == key %}
    <a href="{{truePosts[0].url}}" id="nextBtn">Next Project</a>
  {% else %}
    <a href="{{truePosts[next].url}}" id="nextBtn">Next Project</a> 
  {% endif %}

  </section>


</article>