---
layout: 'base.njk'
permalink: "/{{ title | slugify }}/"
---

<figure class="main-article__figure">
{% if ftImgSet.ftVidB %}
  <video playsinline loop="loop" autoplay="autoplay" muted poster="{{ftImgSet.ftImg}}">
    {% if ftImgSet.ftWebmSource %}
      {{ftImgSet.ftWebmSource | replace("src", "")}}
      <source src="{{ftImgSet.ftWebmSource}}" type="video/webm">
    {% endif %}
    <source src="{{ftImgSet.ftVidSource | replace("src", "")}}" type="video/mp4">
  </video>
  {% else %}
  {% Image "./src/"+ftImgSet.ftImg, ftImgSet.ftAlt %}
{% endif %}
</figure>

<article class="container">

<section class="pGrid">
  <div class="article-intro">
    <h1 class="article-title">
      {{ title }}
    </h1>
    {%- for paragraph in d2 -%}
    <p>
      {{ paragraph }}
    </p>
    {%- endfor -%}
    <div class="intro-details">
      <h2 id="disc">
        {{ disc }}
      </h2>
      <ul>
        {%- for collaborator in collabs2 -%}
        <li>
          {{collaborator}}
        </li>
        {%- endfor -%}
      </ul>
      {# <p>
        {{ collabs }}
      </p> #}
    </div>
  </div>
</section>

  {{ content | safe }}
  <section class="pGrid article-images">
    {%- for theImage2 in images -%}
      <div class="{{theImage2.imgRow.mSize}} {{theImage2.imgRow.layout}}">
        {%- for eachImage2 in theImage2.imgRow.imageRowContents -%}
          {% if eachImage2.videoB %}
            <div>
              <video playsinline muted loop="loop" autoplay="autoplay" poster="{{eachImage2.pSrc | replace("src", "")}}">
                {% if eachImage2.fWmSrc %}
                  <source src="{{eachImage2.wmSrc | replace("src", "")}}" type="video/webm">
                {% endif %}
                <source src="{{eachImage2.srcb | replace("src", "")}}" type="video/mp4">
              </video>
            </div>
            {% else %}
            {% Image "./"+eachImage2.srcb, eachImage2.alt  %}
          {% endif %}
        {%- endfor -%}
      </div>
    {%- endfor -%}
    {% set thetitles = [] %}
    {% for post in collections.post | reverse %}
      {% set thetitles = thetitles.concat(post.data.title) %}
    {% endfor %}
    {% set i = 0 %}
    {% set j = 0 %}
    {% for post in thetitles %}
      {% set i = i + 1 %}
      {% if title == post %}
      {% set j = i %}
      {% endif %}
    {% endfor %}
    {% set thetitlesLength = thetitles | length %}
    {%set sorted = collections.post | reverse%}
    {% if thetitlesLength == j%}
      <a href="{{sorted[0].url}}" id="nextBtn">Next Project</a> 
    {% else %}
      <a href="{{sorted[j].url}}" id="nextBtn">Next Project</a> 
    {% endif %}

  </section>


</article>