---
layout: 'base.njk'
permalink: "/{{ title | slugify }}/"
---

<article class="main-article">
<div class="container flow">
  
  <figure class="main-article__figure">
    {% Image "./src/"+image, imageAlt  %}
  </figure>

  <section class="article-intro">
    <h1 class="article-title">
      {{ title }}
    </h1>
    <p>
      {{ description }}
    </p>
    <div class="intro-details">
      <h2 id="disc">
        {{ disc }}
      </h2>
      <p>
        {{ collabs }}
      </p>
    </div>
  </section>

  {{ content | safe }}

  Images:
  <br>
    {%- for theImages in images-%}
      images check
      {%- for theImageRow in theImages.imgRow-%}
        imageRow check
        {%- for theExactImage in theImageRow.imageRowContents-%}
        {{ theExactImage.srcb }}
          {# {% Image "./"+theImage.srcb, imageAlt  %} #}
        {%- endfor -%}
      {%- endfor -%}
    {%- endfor -%}

     {# {%- for theImage in images -%}
      {%- for eachImage in theImage.imgRow.imageRowContents -%}
      {% Image "./"+eachImage.srcb, imageAlt  %}
      <br>
      {%- endfor -%}
    {%- endfor -%} #}

</div>
</article>
