<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <!-- take out defer if troubleshooting auth problems -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {# <meta property="og:description"      content="Blank" />
    <meta property="og:title"            content="Blank" />
    <meta property="og:url"              content="Blank" />
    <meta property="og:site_name"      content="Blank">
    <meta property="og:site_name"      content="Blank">
    <meta property="og:image"            content="1187x739" />
    
    <meta name="twitter:card"        content="summary_large_image">
    <meta name="twitter:title"       content="Blank" />
    <meta property="twitter:description" content="Blank" />
    <meta name="twitter:image"       content="1187x739" />

    <link href="favicon.png" type="image/jpg" rel="shortcut icon">
    <link href="touch.png" rel="apple-touch-icon-precomposed">

    <link rel="apple-touch-icon" href="/favicons/icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/icon-57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/icon-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/icon-144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicons/icon-60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/icon-120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicons/icon-76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/icon-152.png" />
    <link rel="icon" type="image/png" href="/favicons/icon-196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicons/icon-96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicons/icon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/icon-16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicons/icon-128.png" sizes="128x128" />
    <meta name="application-name" content="Blank"/>
    <meta name="msapplication-TileColor" content="#FFFFF" />
    <meta name="msapplication-TileImage" content="/favicons/icon-144.png" />
    <meta name="msapplication-square70x70logo" content="/favicons/icon-70.png" />
    <meta name="msapplication-square150x150logo" content="/favicons/icon-150.png" />
    <meta name="msapplication-wide310x150logo" content="/favicons/icon-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/favicons/icon-310.png" />

    <meta name="abstract" content="Blank">
		<meta name="author" content="Blank">
		<meta name="classification" content="Blank">
		<meta name="copyright" content="Copyright Blank - All rights Reserved.">
		<meta name="designer" content="Nick Sheeran">
		<meta name="distribution" content="Global">
		<meta name="language" content="en-US">
		<meta name="publisher" content="Blank">
		<meta name="rating" content="Blank">
		<meta name="resource-type" content="Blank">
		<meta name="revisit-after" content="Blank">
		<meta name="subject" content="Blank">
		<meta name="template" content="Blank">
		<meta name="robots" content="index,follow">
		<meta name="example" content="custom: 2020-07-05"> #}

</head>
<body>
    {% include 'header.njk' %}
    <!-- <h1>{{title}}</h1> -->
    <main>
        {{ content | safe }}
        <div id="sketchHolder"></div>
    </main>
    {% include 'footer.njk' %}
    <script type="module" async>
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js" integrity="sha512-uaz5GpnQoE6t5echKlX8P52czvsIGgLPcvlzfvRubLZ1Hp8JemUDnbUiAahbVtPb+jUVrNETuXvAhDDF/N3M4w==" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>
    <script src="../assets/scripts/drawmode.js"></script>
</body>
</html>