<footer class="site-footer">
    <ul role="list" class="nav-list flex-group">
        <a href="mailto:tesshavas@gmail.com">tesshavas@gmail.com</a>
        <button type="button">
            <label>Drawing mode!</label>
        </button>
    </ul>
</footer>