<footer class="site-footer">
    <ul class="nav-list flex-group">
        <a href="mailto:tesshavas@gmail.com">tesshavas@gmail.com</a>
        <button id="drawing" onclick="drawSwitch()">
            <div id="drawCheck"></div>
            <label>Drawing mode!</label>
        </button>
    </ul>
</footer>