<header class="page-header">
      <nav class="nav-row">
        <ul role="list" class="nav-list flex-group">
          <li>
            <h4><a href="/index">Work</a></h4>
          </li>
          <li>
            <h4>Tess Havas</h4>
          </li>
          <li>
            <h4><a href="/about">About</a></h4>
          </li>
        </ul>
      </nav>
      <div class="nav-row">
        Designer and illustrator
      </div>
</header>