<header class="page-header">
      <nav class="nav-row">
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/index">Work</a>
          </li>
          <li>
            <a href="/index">Tess Havas</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
      <div class="nav-row" id="dai">
        Designer and illustrator
      </div>
</header>