---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
  
    {{ title }}
    {{ head-desc }}
    {{ email }}
    {{ social }}

</div>
</article>
