---
title: example
layout: "base.njk"
---
<section id="info-desc">
  <h2>
    {# {%- for infosrc in collections.info-%} #}
      {# {% include 'info.njk' %} #}
    {# {%- endfor -%} #}
    {# {{ collections.site-info.theinfo }} #}
    {% import "info.njk" as info %}
    {{ info.title }}

  </h2>
</section>

<section class="articles">
  <div class="container flow">
    <ul role="list" class="articles__list flow"><li>
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section> 

