---
title: example
layout: "base.njk"
---
{# <section id="info-desc">
  <h2>
    {%- for infosrc in collections.infosrc -%}
        {{ infosrc.data.headdesc }}
    {%- endfor -%}
  </h2>
</section> #}

<section class="articles">
  <div class="container flow">
    <ul role="list" class="articles__list flow">
      {%- for post in collections.post | reverse -%}
        <li>
          <a href="{{ post.url }}">{% Image "./src/"+post.data.image, post.data.imageAlt, "hero-image"%}</a>
          {% include 'article-snippet.njk' %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section> 

