---
title: example
layout: "base.njk"
---
{# <section id="info-desc">
  <h2>
    {%- for infosrc in collections.infosrc -%}
        {{ infosrc.data.headdesc }}
    {%- endfor -%}
  </h2>
</section> #}

<section class="articles">
  <div class="container flow">
    <ul role="list" class="articles__list flow">
      {%- for post in collections.post | reverse -%}
        <li>
          <a href="{{ post.url }}">
          {% if post.data.fVideoB %}
            <video playsinline loop="loop" autoplay="autoplay" muted poster="{{post.data.snipImg}}" class="hero-video">
              {% if fWmSrc %}
                <source src="{{post.data.WmSrc | replace("src", "")}}" type="video/webm">
              {% endif %}
              {{post.data.fSrcb | replace("src", "")}}
              <source src="{{post.data.fSrcb | replace("src", "")}}" type="video/mp4">
            </video>
            {% else %}
            {% Image "./src/"+post.data.snipImg, post.data.snipImgAlt, "hero-image" %}
            {% endif %}
          </a>
          {% include 'article-snippet.njk' %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section> 

