@font-face {
  font-family: 'america';
  src:  url('./assets/type/gt-america-regular.otf') format('opentype'),
        url('./assets/type/gt-america-regular.woff'), format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'clearface';
  src:  url('./assets/type/ClearfaceStd-Regular.otf') format('opentype'),
        url('./assets/type/ClearfaceStd-Regular.woff'), format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

::selection {
  background: pink;
}
::-moz-selection {
  background: pink;
}

:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --hro-mwidth: 47.5%;
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  ::-webkit-scrollbar {
      display: none;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgba(254, 255, 204, 1);

  font-family: "clearface", serif;
  font-size: var(--fs-400);
  color: black;
  -webkit-animation: fadein .5s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5 ease-ins; /* Firefox < 16 */
   -ms-animation: fadein .5 ease-ins; /* Internet Explorer */
    -o-animation: fadein .5 ease-ins; /* Opera < 12.1 */
       animation: fadein .5 ease-ins;
}

main {
  padding-top: 2.4em;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

video {
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit; 
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

h1,
h3 {
  font-family: "america", sans-serif;
  line-height: 1.1;
}

h2 {
  font-family: "america", sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

.container {
  margin-inline: auto;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title {
  font-size: 2.5rem;
}

.section-title {
  font-size: var(--fs-600);
}


/* //////////////////////
  Header
  /////////////////////// */

.page-header, .site-footer {
  background-color: rgba(254, 255, 204, 1);
  position: fixed;
  width: 100%;
}

.page-header {
  top: 0;
  z-index: 1000;
}

.nav-list {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-list a {
  color: black;
  text-decoration: none;
  font-family: america, sans-serif;
  font-size: 1.6rem;

  -webkit-animation: fadein .5s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s ease-in; /* Firefox < 16 */
   -ms-animation: fadein .5s ease-in; /* Internet Explorer */
    -o-animation: fadein .5s ease-in; /* Opera < 12.1 */
       animation: fadein .5s ease-in;
}

.nav-list a:focus,
.nav-list a:hover {
  text-decoration: underline;
}

@media (max-width: 420px) {
.nav-row, .nav-list a {
  font-size: 1rem;
}
}
@media (min-width: 1920px) {
.nav-list a {
  font-size: 1.75rem;
}
}


.nav-row {
  padding: 0.25rem 1em;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 1.6rem;
  height: 1.7em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  bottom: 0;
  text-align: center;
}

.site-footer > .nav-list {
  border-top: 1px solid black;
  padding: .25rem 1em;
}

.site-footer > .nav-list > a {
  font-size: var(--fs-400);
}

.nav-list > button {
  font-size: var(--fs-400);
  background-color: unset;
  border: none;
  padding: unset;
}

#dai {
  padding: .35rem 1rem 0;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero-parent {
  max-width: var(--hro-mwidth);
  margin: auto;
}

.hero-parent > video {
  display: block;
}

.lazy {
  min-height: 32vw;
}
.two-col-left > div > picture > .lazy, .two-col-right > div > picture > .lazy, .three-col > div > picture > .lazy {
  min-height: 16vw;
}
.loaded {
  min-height: unset;
}

.hero-image > picture > img {
  display: block;
  width: 100%;
  height: auto;
  max-height: max(36rem, 60vh);
  object-fit: cover;
}

.articles {
  display: block;
}

.articles__list {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
  column-gap: 40px; /* 40px gutter between columns */
  margin: 40px; /* 40px margin around the grid */
  list-style-type: none; /* Removes default bullet points for list */
  padding: 0; /* Removes default padding for list */
  row-gap: 7em;
}

.articles__list > li:nth-child(3n) {
  grid-column: 1 / 13;
}
.articles__list > li:nth-child(3n) > a > div > picture {
  max-width: var(--hro-mwidth);
  margin: auto;
}

.hro-lg-left {
  grid-column: 1 / 7;
}
.hro-sm-left {
  grid-column: 1 / 6;
}
.hro-lg-right {
  grid-column: 7 / 13;
}
.hro-sm-right {
  grid-column: 8 / 13;
}



/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 3rem;
  }

.main-article__figure {
  margin-top: 2.75rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: .9;
}

.article-intro {
  margin: 8rem auto;
  grid-column-start: 3;
  grid-column-end: 11;
}

.article-intro > p {
  margin: 3rem 0 3rem 0;
}

.article-images {
  grid-column-start: 1;
  grid-column-end: 13;
}

.article-images > div {
  margin-bottom: 8rem;
}

.article-images > .small {
  grid-column-start: 3;
  grid-column-end: 11;
}

.article-images > .large {
  grid-column-start: 1;
  grid-column-end: 13;
}

.intro-details {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'america';
}

.intro-details > * {
  display: inline-block;
}

#disc {
  width: 40%;
  flex-grow: 1;
}

.intro-details > ul {
  flex-shrink: 20;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.intro-details > ul > li {
  display: block;
  font-size: 1.5rem;
}

.pGrid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.two-col-even, .two-col-right, .two-col-left, .three-col {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.two-col-right > div:first-of-type {
  width: 50.5%
}
.two-col-left > div:last-of-type {
  width: 50.5%
}

#nextBtn {
  font-family: 'america';
  text-align: center;
  margin: 0 auto 8rem;
  display: block;
  grid-column-start: 6;
  grid-column-end: 8;
  font-size: 2rem;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  text-align: center;
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

/* //////////////////////
  About page
  /////////////////////// */

#about-wrapper {
    height: 100vh;
    padding: 4em 20vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* //////////////////////
  Draw mode
  /////////////////////// */

#drawing, #drawing > label {
  cursor: help;
}

#sketchHolder {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#drawCheck {
  border: 1px solid black;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.1rem;
}

#fzf-illo {
  position: fixed;
  display: flex;
  top: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
}

#fzf-illo > svg {
  transform: scale(1.4);
}
@media (max-width: 800px) {
  #fzf-illo > svg {
    transform: scale(2.25);
  }
}
/* //////////////////////
  Mobile 
  /////////////////////// */

@media (max-width: 420px) {
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  header > nav-row:first-of-type {
    padding: .25rem 1em 0;
  }

  /* .nav-row, .nav-list a {
    font-size: 1rem;
  } */

  .site-footer > .nav-list {
    padding: 0 1em .15rem;
    justify-content: center;
  }

  #dai {
    padding: .25rem 1rem 0;
  }

  .articles__list {
    display: flex;
  }

  .articles__list > li:first-child > *, .articles__list > li:nth-child(4n) > * {
    max-width: none;
  }

  .articles__list > li:nth-child(3n) > a > div > picture {
    max-width: none;
  }

  #drawing {
    display: none;
  }

  #about-wrapper {
    padding: .5rem;
  }

  .hero-parent {
    max-width: unset;
  }

  .main-article__figure {
    margin-top: 1.7rem;
  }
  
  .article-title {
    font-size: 2rem;
  }

  .article-intro {
    width: 100%;
    margin: 2rem 0 3rem;
    display: grid;
  }

  .article-intro > p {
    margin: 1rem 0;
    /* order: 3; */
  }

  .intro-details {
    display: block;
  }

  #disc {
    width: 100%;
  }

  .intro-details > ul > li, #disc {
    font-size: var(--400);
  }

  .articles__list {
    flex-direction: column;
    row-gap: 4rem;
    padding: 0 .5rem;
  }
  .articles__list > li:first-child, .articles__list > li, .articles__list > li:nth-child(4n)  {
    width: 100%;
    row-gap: 1rem;
  }

  .pGrid {
    display: block;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .article-intro > p {
    margin: 1rem 0 1rem 0;
  }

  .article-images > div {
    margin-bottom: 4rem;
  }
  
  .two-col-even, .two-col-right, .two-col-left, .three-col {
    gap: .5rem;
  }

  #nextBtn {
    font-size: 1.25rem;
    margin: 0 auto 5.5rem;
  }

}

/* //////////////////////
  Desktop 
  /////////////////////// */
@media (min-width: 1920px) {
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.75rem;
  }

  .nav-row {
    font-size: 1.75rem;
  }
  /* .nav-list a {
    font-size: 1.75rem;
  } */
  .main-article__figure {
    margin-top: 3.25rem;
  }
      
  .article-title {
    font-size: 3rem;
  }

  .pGrid {
    padding: 0 13rem 2rem;
  }

  .article-intro {
    margin: 8rem auto 8rem;
    grid-column-start: 2;
    grid-column-end: 12;
  }
}